<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
	<test name="Test" verbose="2">
		<classes>
			<class name="com.github.harrischu.demo.testcase.TestBaidu">
				<methods>
					<include name="Test_01_QueryTest" />
				</methods>
			</class>
		</classes>
	</test>
	<listeners>
		<listener class-name="com.github.harrischu.webAuto.listener.PowerEmailableReporter" />
		<listener class-name="com.github.harrischu.webAuto.listener.TestResultListener" />
	</listeners>
</suite>
